.new{
    display:flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 2px;
    border:2px solid #ff4a4a;
    width:70%;
    padding-top: 15px;
}
.line{
    margin-left: 15px;
}


#checkbox{
    font-size: 50px;
}

.listingNews{
    margin-top:50px;
    border:2px solid #ff4a4a;
    
}
.vaznoListingNews{
    margin-top:50px;
    border:2px solid #ff4a4a;
    background-color: #FFCCCB;

}
.listTitle{
    font-weight: bold;
}
.vaznoInput{
    display:flex;
    flex-direction: row;
    justify-content: center;

}
.textVazno{
    display: flex;
    align-items: center;
}

.važno{
    color:red;
    font-weight: bold;
}
#deleteNew{
    margin-left:400px;
    margin-bottom: 5px;
}